<header>
    <div class="header">
        <div id="logos">
            <div>
                <svg class="menu-icon" id="click" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1" x="0px" y="0px" viewBox="0 0 24 30" style="enable-background:new 0 0 24 24;"
                xml:space="preserve">
                <g>
                    <g>
                        <path d="M5,6H3C2.72,6,2.5,5.78,2.5,5.5S2.72,5,3,5h2c0.28,0,0.5,0.22,0.5,0.5S5.28,6,5,6z" />
                    </g>
                    <g>
                        <path d="M21,6H7C6.72,6,6.5,5.78,6.5,5.5S6.72,5,7,5h14c0.28,0,0.5,0.22,0.5,0.5S21.28,6,21,6z" />
                    </g>
                    <g>
                        <path d="M5,13H3c-0.28,0-0.5-0.22-0.5-0.5S2.72,12,3,12h2c0.28,0,0.5,0.22,0.5,0.5S5.28,13,5,13z" />
                    </g>
                    <g>
                        <path
                            d="M21,13H7c-0.28,0-0.5-0.22-0.5-0.5S6.72,12,7,12h14c0.28,0,0.5,0.22,0.5,0.5S21.28,13,21,13z" />
                    </g>
                    <g>
                        <path d="M5,20H3c-0.28,0-0.5-0.22-0.5-0.5S2.72,19,3,19h2c0.28,0,0.5,0.22,0.5,0.5S5.28,20,5,20z" />
                    </g>
                    <g>
                        <path
                            d="M21,20H7c-0.28,0-0.5-0.22-0.5-0.5S6.72,19,7,19h14c0.28,0,0.5,0.22,0.5,0.5S21.28,20,21,20z" />
                    </g>
                    </g><text x="0" y="39" fill="#000000" font-size="5px" font-weight="bold"
                    font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text><text x="0" y="44"
                    fill="#000000" font-size="5px" font-weight="bold"
                    font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text>
                </svg>
            </div>
            <div id="sidebar">
                <nav id="menu-header">
                    <svg class="menu-close" xmlns="http://www.w3.org/2000/svg" data-name="Layer 2" viewBox="0 0 32 40"
                        x="0px" y="0px">
                        <path d="M4,29a1,1,0,0,1-.707-1.707l24-24a1,1,0,1,1,1.414,1.414l-24,24A1,1,0,0,1,4,29Z" />
                        <path d="M28,29a1,1,0,0,1-.707-.293l-24-24A1,1,0,0,1,4.707,3.293l24,24A1,1,0,0,1,28,29Z" />
                    </svg>
                    <ul class="menu-element">
                        <li class="vehicules">
                            <span class="title-vehicule"><span><svg id="list-menu-vehicule" class="list-menu toggle-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125"><path style="color:#000;enable-background:accumulate" d="m50 979.362 26 46H24z" overflow="visible" transform="translate(0 -952.362)"/></svg></span>Véhicule</span>
                            <ul class="sub-menu-vehicules">
                                <li><a href="/formInsertVehicule">Ajouter un véhicule</a></li>
                                <li><a href="/formInsertTypeVehicule">Ajouter un type de véhicule</a></li>
                                <li><a href="/formInsertMarque">Ajouter une marque de véhicule</a></li>
                                <li><a href="/formInsertModele">Ajouter un modèle d'une marque</a></li>
                            </ul>
                        </li>
                        <li class="pieces">
                            <span class="title-piece"><span><svg id="list-menu-piece" class="list-menu toggle-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125"><path style="color:#000;enable-background:accumulate" d="m50 979.362 26 46H24z" overflow="visible" transform="translate(0 -952.362)"/></svg></span>Pièces détachées</span>
                            <ul class="sub-menu-pieces">
                                <li><a href="/formInsertPiece">Ajouter une pièce détachée</a></li>
                                <li><a href="/formInsertTypePiece">Ajouter un type de pièce détachée</a></li>
                                <li><a href="/formInsertSousTypePiece">Ajouter un sous-type de pièce détachée</a></li>
                            </ul>
                        </li>
                        <li class="stocks">
                            <span class="title-stock"><span><svg id="list-menu-stock" class="list-menu toggle-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125"><path style="color:#000;enable-background:accumulate" d="m50 979.362 26 46H24z" overflow="visible" transform="translate(0 -952.362)"/></svg></span>Stock</span>
                            <ul class="sub-menu-stock">
                                <li><a href="/stockVehicule">Stock de véhicule</a></li>
                                <li><a href="/stockPiece">Stock de pièce</a></li>
                            </ul>
                        </li>
                        <li class="list-vehicule">
                            <span class="title-edit-vehicule"> <span><svg id="list-menu-edit-vehicule" class="list-menu toggle-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125"><path style="color:#000;enable-background:accumulate" d="m50 979.362 26 46H24z" overflow="visible" transform="translate(0 -952.362)"/></svg></span>Modification véhicule</span>
                            <ul class="sub-menu-list-vehicules">
                                <li><a href="/listTypeVehicule">Liste des types de véhicule</a></li>
                                <li><a href="/listMarqueVehicule">Liste des marques de véhicule</a></li>
                                <li><a href="/listModeleVehicule">Liste des modèles d'une marque</a></li>
                            </ul>
                        </li>
                        <li class="list-piece">
                            <span class="title-edit-piece"><span><svg id="list-menu-edit-piece" class="list-menu toggle-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125"><path style="color:#000;enable-background:accumulate" d="m50 979.362 26 46H24z" overflow="visible" transform="translate(0 -952.362)"/></svg></span>Modification pièce </span>
                            <ul class="sub-menu-list-piece">
                                <li><a href="/listTypePiece">Liste des types de pièce</a></li>
                                <li><a href="/listSousTypePiece">Liste des sous-type de pièce</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="home">
                <a href="/accueil"><svg class="home" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" version="1.1"
                    style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;"
                    viewBox="0 0 236 262.5" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd">
                    <defs></defs>
                    <g>
                        <path class="fil0"
                            d="M204 111l0 99c-23,0 -46,0 -69,0l0 -67 -34 0 0 67c-23,0 -46,0 -69,0l0 -99 -32 -23 118 -88 59 44 0 -26 22 0 0 43 37 27 -32 23zm-86 -95l-96 72 25 18 0 92 39 0 0 -66 64 0 0 66 39 0 0 -92 25 -18 -96 -72z" />
                    </g>
                </svg></a>
            </div>
        </div>
        <div id="title">
            <h1><span>Oural-52</span><img src="img/Oural-52.png" alt="Logo oural-52"></h1>
        </div>
        <div id="user">     
            <svg class="user-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 375" style="enable-background:new 0 0 300 300" xml:space="preserve"><path d="M193.7 136.88c-12.36 8.75-27.44 13.91-43.7 13.91s-31.34-5.16-43.7-13.91C72.4 153.17 49 187.83 49 227.96v38.48c0 10.23 8.29 18.52 18.52 18.52h164.96c10.23 0 18.52-8.29 18.52-18.52v-38.48c0-40.13-23.4-74.79-57.3-91.08zM209.87 74.91c0 33.07-26.81 59.87-59.87 59.87-33.07 0-59.88-26.8-59.88-59.87 0-33.06 26.81-59.87 59.88-59.87 33.06 0 59.87 26.81 59.87 59.87z"/></svg>
            <p id="hello">Bonjour {{user.firstName}}</p>
            <div id="nav">
            <p>Dernière déconnexion le {{user.lastLogin}}</p>
                <nav>
                    <ul>
                        <li>
                            <a href="/formInsertUser">Ajoutez un utilisateur</a>
                        </li>
                        <li>
                            <a href="/formEditUser?id={{user._id}}">Modifier vos informations</a>
                        </li>
                        <li>
                            <a href="/forgotPassword">Modifier votre mot de passe</a>
                        </li>                  
                        <li>
                            <a href="/logout">Se déconnecter</a>
                        </li>
                    </ul>
                </nav>
            </div>         
        </div>       
    </div>
</header>