<nav class="barnav">
    <ul id="nav">
        <li><a href="/index">Accueil</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/loginPublic">Login public</a></li>
        <li><a href="/accueil">Main</a></li>
        <li><a href="/formInsertVehicule">Ajoutez un véhicule</a></li>
        <li><a href="/formInsertTypeVehicule">Ajoutez un type de véhicule</a></li>
        <li><a href="/formInsertMarque">Ajoutez une marque de véhicule</a></li>
        <li><a href="/formInsertModele">Ajoutez un modèle d'une marque</a></li>
        <li><a href="/formInsertPiece">Ajoutez une pièce</a></li>
        <li><a href="/formInsertTypePiece">Ajoutez un type de pièce</a></li>
        <li><a href="/formInsertSousTypePiece">Ajoutez un sous-type de pièce</a></li>
    </ul>
    <ul id="nav2">
        <li><a href="/listTypeVehicule">Liste des types de véhicule</a></li>
        <li><a href="/listMarqueVehicule">Liste des marques de véhicule</a></li>
        <li><a href="/listModeleVehicule">Liste des modèles de véhicule</a></li>
        <li><a href="/stockVehicule">Stock véhicule</a></li>
        <li><a href="/stockPiece">Stock Pièce</a></li>
        <li><a href="/logout">Déconnexion</a></li>
    </ul>
</nav>