<div class="wrapper">
    <section>
        <form>
            <div class="form_add">
                <div class="vehicule">
                    <label for="nameV">Nom du véhicule :</label>
                    <input type="text" name="nameV">
                    <label for="dateMEC">Date de mise en circulation :</label>
                    <input type="date" name="dateMEC">
                </div>
                <div class="types">
                    <span>Type de véhicule :</span>
                    <label for="car">Voiture</label>
                    <input type="checkbox" name="car" id="car">
                    <label for="moto">Moto</label>
                    <input type="checkbox" name="moto" id="moto">
                    <label for="tracteur">Tracteur</label>
                    <input type="checkbox" name="tracteur" id="tracteur">
                    <label for="scoot">Cyclomoteur</label>
                    <input type="checkbox" name="scoot" id="scoot">
                </div>
                <div class="docTypes">
                    <label for="docV">Doc véhicule :</label>
                    <input type="file" name="docV">
                </div>
                <div class="marque">
                    <label for="marque">Marque du véhicule :</label>
                    <select name="marque">
                        {{#each data.marques}}
                        <option value="{{this.id}}">{{this.nom_marque}}</option>
                        {{/each}}
                    </select>
                    <label for="modele">Modèle du véhicule :</label>
                    <select name="modele">
                        {{#each data.marques}}
                        <option value="{{this.id}}">{{this.modele_marque}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="piece">
                    <label for="namePD">Nom de la pièce détachée :</label>
                    <select name="namePD" id="namePD">
                        <option value=""></option>
                        <option value="carrosserie">Carrosserie</option>
                        <option value="moteur">Moteur</option>
                        <option value="boîte">Boîte</option>
                        <option value="transmission">Transmission</option>
                        <option value="partie-cycle">Partie cycle</option>
                        <option value="electricite">Electricité</option>
                        <option value="pneumatique">Pneumatique</option>
                        <option value="consommable">Consommable</option>
                        <option value="accessoire">Accessoire</option>
                    </select>
                    <label for="doc">Document PDF :</label>
                    <input type="file" name="docPD" id="doc">
                    <label for="photo">Photo :</label>
                    <input type="file">
                </div>
                <div class="stype">
                    <label for="type">Type de pièce détachée :</label>
                    <input type="text" name="type">
                    <label for="ref">Référence :</label>
                    <input type="text" name="ref">
                    <label for="etat">Etat de la pièce :</label>
                    <select name="etat">
                        <option value="neuf">Neuf</option>
                        <option value="comme-neuf">Comme neuf</option>
                        <option value="bon">Bon</option>
                        <option value="correct">Correct</option>
                        <option value="mauvais">Mauvais</option>
                    </select>
                    <label for="dimension">Dimensions de la pièces :</label>
                    <label for="hauteur">Hauteur :</label>
                    <input type="number" name="hauteur">
                    <label for="largeur">Largeur :</label>
                    <input type="number" name="largeur">
                    <label for="diametre">Diamètre :</label>
                    <input type="number">
                    <label for="localisation">Localisation :</label>
                    <input type="text" name="localisation">
                </div>
                <input type="submit" value="Ajoutez">
            </div>
        </form>
    </section>
</div>