<div class="wrapper">
    <div>
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
        <span class="existing">Types de véhicule existant :</span>
        <select name="type">
            {{#each data.type_vehicule}}
            <option value="{{this.id_type_vehicule}}">{{this.nom_type_vehicule}}</option>
            {{/each}}
        </select>
        <form action="{{this.form_action}}" method="POST" enctype="multipart/form-data" id="form-type-vehicule">
            <div class="form">
                <label for="type_vehicule">Type de véhicule* :</label>
                <div class="form-data">
                    <input type="text" name="type_vehicule" id="type_vehicule">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>
                <label for="doc_pdf">Doc du type de véhicule :</label>
                <input type="file" name="doc_pdf" id="doc_vehicule">
                <input type="submit" value="Ajouter">
                <span class="champs">*champs requis</span>
            </div>
        </form>
    </div>
    <div>
        <button class="back">
            <div>
                <svg class="btnBack" data-name="Layer 3" viewBox="0 0 64 80" x="0px" y="0px"><path d="M24.73,47.56a2,2,0,0,0,2.83-2.83L14.83,32,27.56,19.27a2,2,0,0,0-2.83-2.83L10.59,30.59a2,2,0,0,0,0,2.83Z"/><path d="M52.14,30H26a2,2,0,0,0,0,4H52.14a2,2,0,0,0,0-4Z"/></svg>
                <span>Retour</span>
            </div>
        </button>
    </div>
</div>
<script src="js/class/FormControl.js" type="module"></script>
<script src="js/form/formAddTypeVehicule.js" type="module"></script>