<div class="wrapper">
    <section>
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
        <span class="existing">Types de pièces existant :</span>
        <select name="type">
            <option value=""></option>
            {{#each data.type_p_d}}
            <option value="{{this.id_type_p_d}}">{{this.nom_type_p_d}}</option>
            {{/each}}
        </select>
        <form action="{{this.form_action}}" method="POST" id="form">
            <div class="form">
                <span class="err"></span>
                <label for="type_piece">Type de pièce* :</label>
                <input class="needed" type="text" name="type_piece">
                <input type="submit" value="Ajoutez">
                <p class="champs">*champs requis</p>
            </div>
        </form>
    </section>
</div>