<div class="wrapper">
    <div>
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
        <span class="existing">Types de véhicule existant :</span>
        <select name="type">
            {{#each data.type_vehicule}}
            <option value="{{this.id_type_vehicule}}">{{this.nom_type_vehicule}}</option>
            {{/each}}
        </select>
        <form action="{{this.form_action}}" method="POST" enctype="multipart/form-data" id="form-type-vehicule">
            <div class="form">
                <label for="type_vehicule">Type de véhicule* :</label>
                <div class="form-data">
                    <input type="text" name="type_vehicule" id="type_vehicule">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>
                <label for="doc_pdf">Doc du type de véhicule :</label>
                <input type="file" name="doc_pdf" id="doc_vehicule">
                <input type="submit" value="Ajouter">
                <span class="champs">*champs requis</span>
            </div>
        </form>
    </div>
</div>
<script src="js/class/FormControl.js" type="module"></script>
<script src="js/form/formAddTypeVehicule.js" type="module"></script>