{{#if msg}}
    <div id="modal">
        <div class="modal-content">
            <svg class="close-modal" xmlns="http://www.w3.org/2000/svg" data-name="Layer 2" viewBox="0 0 32 40"x="0px" y="0px">
                <path d="M4,29a1,1,0,0,1-.707-1.707l24-24a1,1,0,1,1,1.414,1.414l-24,24A1,1,0,0,1,4,29Z" />
                <path d="M28,29a1,1,0,0,1-.707-.293l-24-24A1,1,0,0,1,4.707,3.293l24,24A1,1,0,0,1,28,29Z" />
            </svg>
            <h4>{{msg}}</h4>
        </div>
    </div>     
{{/if}}
<div class="container">
    <div>       
        <form action="{{this.form_action}}" method="POST" id="form-reset-password">
            <div class="form">
                <label for="reset-pwd">Nouveau mot de passe* :</label>
                <div class="form-data">
                    <input type="password" name="reset_pwd" id="reset-pwd">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <span class="icon-password">
                        <i class="fas fa-eye password-eye"></i>
                    </span>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>

                <label for="password-confirm">Confirmation du mot de passe* :</label>
                <div class="form-data">
                    <input type="password" name="reset_pwd_confirm" id="reset-pwd-confirm">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <span class="icon-confirm-password">
                        <i class="fas fa-eye confirm-password-eye"></i>
                    </span>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>
                <input type="hidden" value="{{data._id}}" name="_id">
                <input type="submit" value="Envoyer">
                 <span class="champs">*champs requis</span>
            </div>
        </form>
    </div>
</div>
<script src="js/class/FormControl.js" type="module"></script>
<script src="js/form/formPassword.js" type="module"></script>
<script src="js/modal/modalContainer.js" type="module"></script>