<div class="container">
    <main>
        <div class="supp">
            <label for="delete">Voulez-vous vraiment supprimer cette pièce ?</label>
            <input type="button" name="delete" value="Supprimer">
            <label for="back">Où</label>
            <button><a href="/stock">Revenir en arrière</a></button>
        </div>
    </main>
</div>