<div class="container">
    <section>
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
        <form action="{{form_action}}" method="POST">
            <div class="form">
                <label for="delete">Voulez-vous vraiment supprimer {{data.nom_stype}} ?</label>
                <input type="hidden" name="id" value="{{data.id_stype_p_d}}">
                <input type="submit" name="delete" value="Supprimez">
            </div>
        </form>
    </section>
</div>