<div class="container">
    <section>
        <form action="">
            <div class="form">
                <label for="delete">Voulez-vous vraiment supprimer cet élément ?</label>
                <input type="submit" name="delete" value="Supprimer">
            </div>
        </form>
    </section>
</div>