<div class="wrapper">
    <section>
        <form action="{{this.form_action}}" method="POST">
            <div class="form">
                <label for="marque">Marque du véhicule</label>
                <input type="text" name="marque" value="{{data.nom_marque}}">
                <label for="modele">Modèle de véhicule</label>
                <input type="text" name="modele" value="{{data.modele}}">
                <input type="hidden" name="id" value="{{data.id_marque}}">
                <input type="submit" value="Modifiez">
            </div>
        </form>
    </section>
</div>