<div class="container">
    <main>
        <div class="main">
            <h2>Bonjour Alain</h2>
            <button class="stockV">Gérer mon stock de véhicules</button>
            <button class="stockP">Gérer mon stock de pièce détachées</button>
            <button class="addV">Ajouter un véhicule</button>
            <button class="addP">Ajouter une pièce</button>
            <form action="/logout" method="GET">
                <input type="submit" value="Se déconnecter">
            </form>           
        </div>
    </main>
</div>
<script src="js/home.js"></script>