<div class="container">
    <main>
        <div class="main">
            <h2>Accueil</h2>
            <button class="stockV">Gérer mon stock de véhicules</button>
            <button class="stockP">Gérer mon stock de pièce détachées</button>
            <button class="addV">Ajouter un véhicule</button>
            <button class="addP">Ajouter une pièce</button>           
        </div>
    </main>
</div>
<script src="js/home.js"></script>