<div class="wrapper">
    <div>
        {{#if msg}}
        <h3>{{msg}}</h3>
        {{/if}}
        <table id="stock">
            <thead>
                <tr>
                    <th>Type de pièce détachée</th>
                    <th>Edition</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.type_p_d}}
                <tr>
                    <td>{{this.nom_type_p_d}}</td>
                    <td>
                        <span>
                            <a href="/formEditTypePiece?id={{this.id_type_p_d}}"><svg
                                    xmlns="http://www.w3.org/2000/svg" class="edit" data-name="Layer 1"
                                    viewBox="0 0 100 125" x="0px" y="0px">
                                    <title>Edit</title>
                                    <rect x="14.092" y="38.264" width="66.311" height="28.978"
                                        transform="translate(-23.463 48.86) rotate(-45)" />
                                    <rect x="71.875" y="4.627" width="18.019" height="28.978"
                                        transform="translate(10.174 62.793) rotate(-45)" />
                                    <polygon
                                        points="8.088 71.422 2.5 97.5 28.578 91.912 30.226 90.264 9.736 69.774 8.088 71.422" />
                                </svg></a>
                            <a href="/formDeleteTypePiece?id={{this.id_type_p_d}}"><svg
                                    xmlns="http://www.w3.org/2000/svg" class="delete" data-name="Layer 2"
                                    viewBox="0 0 32 40" x="0px" y="0px">
                                    <path
                                        d="M4,29a1,1,0,0,1-.707-1.707l24-24a1,1,0,1,1,1.414,1.414l-24,24A1,1,0,0,1,4,29Z" />
                                    <path
                                        d="M28,29a1,1,0,0,1-.707-.293l-24-24A1,1,0,0,1,4.707,3.293l24,24A1,1,0,0,1,28,29Z" />
                                </svg></a>
                        </span>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>