<div class="container">
        <main>        
            <form action="/authenticated" method="POST">
                <div class="form_login">
                    <label for="username">Nom d'utilisateur :</label>
                    <input type="text" name="username" id="username">
                    <label for="password">Mot de passe :</label>
                    <input type="password" name="password" id="password">
                    <input type="submit" value="Se connecter">
                </div>
            </form>
        </main>
    </div>