<div class="container">
        <main>        
            <form>
                <div class="form_login">
                    <label for="email">Adresse email</label>
                    <input type="email" name="email" id="email">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password">
                    <input type="submit" value="Se connecter">
                </div>
            </form>
        </main>
    </div>