<div class="container">
    <main>
        <div class="main">
            <h2>Bonjour Roger</h2>
            <button><a href="/stock">Gérer mes stocks</a></button>
            <button><a href="/formInsert">Ajouter une pièce</a></button>
            <input type="button" value="Se déconnecter">
        </div>
    </main>
</div>