<div class="container">
    <main>
        <div class="main">
            <h2>Bonjour Roger</h2>
            <button><a href="/stockVehicule">Gérer mon stock de véhicules</a></button>
            <button><a href="/stockPiece">Gérer mon stock de pièce détachées</a></button>
            <button><a href="/formInsertVehicule">Ajouter un véhicule</a></button>
            <button><a href="/formInsertPiece">Ajouter une pièce</a></button>
            <input type="button" value="Se déconnecter">
        </div>
    </main>
</div>