<div class="container">
        <main>
            <div class="main">
                <h2>Bonjour Roger</h2>
                <button><a href="">Gérer mes stocks</a></button>
                <button><a href="/add.html">Ajouter une pièce</a></button>
                <input type="button" value="Se déconnecter">
            </div>           
        </main>
    </div>