<div class="container">
    <main>
        <div class="main">
            <h2>Bonjour Roger</h2>
            <a href="/stockVehicule">Gérer mon stock de véhicules</a>
            <a href="/stockPiece">Gérer mon stock de pièce détachées</a>
            <a href="/formInsertVehicule">Ajouter un véhicule</a>
            <a href="/formInsertPiece">Ajouter une pièce</a>
            <input type="button" value="Se déconnecter">
        </div>
    </main>
</div>