:root{
  --header-bcg-color: hsl(227, 77%, 62%);
  --container-bcg-color: hsl(240, 14%, 92%);
  --body-bcg-color: hsl(229, 10%, 79%);
  --add-color: hsl(140, 71%, 32%);
  --delete-color: hsl(0, 76%, 37%);
  --edit-color: hsl(56, 66%, 36%);
  --text-color-white: hsl(0, 50%, 100%);
  --text-color-black: hsl(0, 50%, 0%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color-white);
}

input{
  height: 25px;
  border: none;
}

body{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--body-bcg-color);
}

li {
  list-style: none;
}

/******header*******/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 50px;
  background-color: var(--header-bcg-color);
  color: var(--text-color-white);
}

.home{
  width: 35px;
  height: 35px;
  fill: var(--text-color-white);
  transition: 0.5s;
}

.home:hover{
  background-color: var(--container-bcg-color);
  fill: var(--header-bcg-color);
  border-radius: 50%;
}

/****sidebar****/

#sidebar{
	position: absolute;
	width: 350px;
  padding: 10px;
	height: 1080px;
	background-color: var(--header-bcg-color);
	left:-400px;
  z-index: 4;
}

.menu-icon{
  width: 40px;
  height: 40px;
  fill: var(--text-color-white);
  transition: 0.5s;
  cursor: pointer;
}

.menu-icon:hover{
  background-color: var(--container-bcg-color);
  fill: var(--header-bcg-color);
  border-radius: 50%;
}

.menu-element {
  margin-top: 100px;
}

.menu-element li{
  padding-left: 5px; 
  margin-top: 10px;
	color: var(--text-color-white);
  font-size: 30px;
	
}

.menu-element span:hover{
  color: var(--body-bcg-color);
  transition: 0.3s;
}

.menu-element a{
  font-size: 20px;
}

.menu-element a:hover{
  color: var(--body-bcg-color);
  transition: 0.3s;
}

#sidebar.active{
  top: 0;
	left:0;
}

.menu-close{
  position: absolute;
  top: 0;
  right: 0;
  fill: var(--text-color-white);
  width: 40px;
  cursor: pointer;
}

.menu-close:hover {
  fill: var(--delete-color);
  transition: 0.3s;
}

.vehicules, .pieces, .stocks, .list-vehicule, .list-piece, .list-users{
  display: none;
  cursor: pointer;
}

.sub-menu-vehicules, .sub-menu-pieces, .sub-menu-stock, .sub-menu-list-vehicules, .sub-menu-list-piece, .sub-menu-list-users{
  display: none;
}


.item {
  color: var(--body-bcg-color);
  text-decoration: underline overline;
}
/****container****/

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  margin: auto;
  margin-top: 20vh;
  border-radius: 2%;
  background-color: var(--container-bcg-color);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/****form login****/

.form_login {
  display: flex;
  flex-direction: column;
}

.form_login input{
  margin: 10px 0 20px;
}

.form_login input[type="submit"]{
  background-color: var(--header-bcg-color);
  color: var(--text-color-white);
  height: 25px;
  transition: 0.2s;
  cursor: pointer;
}

.form_login input[type="submit"]:hover{
  border-radius: 10px;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.32);
  transform: translateX(3px);
  background-color: hsl(227, 96%, 67%);
}

/****form****/

form input {
  border-radius: 10px;
  padding: 0 10px;
  outline: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

select {
  padding: 0 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  height: 25px;
}

#doc_vehicule, #doc_piece, #photo, #doc_pdf {
  box-shadow: none;
  padding: 0;
  border-radius: 0;
}

/****form validation ****/

.form .form-data {
  position: relative;
}

.form #name, .form #firstName, .form #login, .form #mdp, .form #password-confirm {
  width: 300px;
}

.form i {
  position: absolute;
  padding: 5px 10px;
}

.failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}

.success-icon,
.failure-icon,
.icon-password,
.icon-confirm-password {
  right: 0;
  opacity: 0;
}

.close-eye {
    opacity: 0;
}

/****main page****/

.main{
  display: flex;
  justify-content: center;
  height: 400px;
  flex-direction: column;
}

.main h2{
  margin-bottom: 50px;
  margin-left: 55px;
}

.main button {
  width: 280px;
  height: 30px;
  margin-bottom: 20px;
  background :var(--header-bcg-color);
  color: var(--text-color-white);
  border-radius: 150px;
  border: 2px solid #accbee;
  transition: 0.2s;
  cursor: pointer;
}

.main button:hover{
  background-color: hsl(227, 100%, 69%);;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.32);
  transform: translateX(3px);
}

.main button {
  color: var(--text-color-white);
}

.main input{
  margin-top: 20px;
  background-color: var(--delete-color);
  color: var(--text-color-white);
  width: 280px;
  height: 30px;
  transition: 0.2s;
  border-radius: 10px;
  cursor: pointer;
}

.main input:hover{
  transform: translateX(3px);
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.32); 
  background-color: hsl(0, 63%, 46%);
}

/****add****/

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  min-height: 500px;
  height: auto;
  margin: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
  background-color: var(--container-bcg-color);
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.existing {
  margin-left: 50px;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.form :nth-child(n){
  margin-bottom: 14px;
}

.form input[type="submit"][value="Ajoutez"]{
  margin-top: 20px;
  background-color: var(--add-color);
  transition: 0.2s;
  color: var(--text-color-white);
  cursor: pointer;
}

.form input[type="submit"][value="Ajoutez"]:hover{
  border-radius: 10px;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.32);
  transform: translateX(3px);
  background-color: hsl(140, 70%, 37%);
}


.form input[type="submit"][value="Modifiez"]{
  margin-top: 20px;
  transition: 0.2s;
  background-color: var(--edit-color);
  color: var(--text-color-white);
  cursor: pointer;
}

.form input[type="submit"][value="Modifiez"]:hover{
  border-radius: 10px;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.32);
  transform: translateX(3px);
  background-color: hsl(56, 64%, 42%);
}

.form input[type="submit"][value="Supprimez"]{
  transition: 0.2s;
  background-color: var(--delete-color);
  color: var(--text-color-white);
  border-radius: 10px;
  cursor: pointer;
}

.form input[type="submit"][value="Supprimez"]:hover{
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.32);
  transform: translateX(3px);
  background-color: hsl(0, 63%, 46%);
}

.champs {
  font-size: 14px;
}

/****stock****/

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  min-height: 500px;
  height: auto;
  margin: auto;
  padding: 50px;
  margin-top: 15vh;
  margin-bottom: 15vh;
  background-color: var(--container-bcg-color);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

#stock{
  text-align: center;
}

#stock a{
  color: var(--text-color-black);
}

#stock a:hover{
  color: hsl(0, 1%, 19%);
  text-decoration: underline;
}

#stock th{
  border: 1px solid var(--text-color-black);
}

#stock tr:nth-child(even){
  background-color: var(--body-bcg-color);
}

#stock th{
  vertical-align: middle;
  text-align: center;
  background-color: var(--header-bcg-color);
  color: var(--text-color-white);
}

#stock td{
  border: 1px solid var(--text-color-black);
  vertical-align: middle;
}

#stock span{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dataTable-input {
  width: 120px;
  border-radius: 10px;
  padding: 0 10px;
  outline: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.wrapper .dataTable-selector {
  padding: 0 0 0 10px;
}

.wrap .dataTable-selector {
  padding: 0;
}

.vehicule {
  font-size: 0;
}

.car{
  width: 40px;
  margin-top: 10px;
}

.moto{
  width: 40px;
  margin-top: 10px;
}

.scoot{
  width: 40px;
  margin-top: 10px;
}

.tractor{
  width: 40px;
  margin-top: 10px;
}

.edit{
  width: 25px;
  height: 25px;
  transition: 0.5s;
  fill: var(--edit-color);
}

.edit:hover{
  transform: rotate(360deg);
  fill: hsl(56, 66%, 44%);
}

.delete{
  width: 25px;
  height: 25px;
  transition: 0.5s;
  fill: var(--delete-color);
}

.delete:hover{
  transform: rotate(360deg);
  fill: hsl(0, 97%, 56%);
}

/**MSG**/

h4{
  margin-left: 50px;
}

.error-file {
  margin-left: 50px;
}

.err {
  position: absolute;
  top: 0;
  transform: translateY(185%);
}

/**SCROLLBAR**/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 95%); 
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 53%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 33%); 
}

/**RESPONSIVE**/

@media screen and (max-width: 1400px) {
  .wrap {
    width: 1210px;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    width: 100%;
  }

  .wrap{
    width: 1000px;
  }

  #stock {
    width: 600px;
  }

  #stock thead {
    display: none;
  }

  #stock tr{
    display: block;
    margin-bottom: 40px;
  }

  #stock td {
    display: block;
    text-align: right;
    height: 37px;
    border: 2px solid var(--body-bcg-color);
  }

  #stock td div:before {
    content: attr(data-label);
    float: left;
    background-color: var(--header-bcg-color);
    color: var(--text-color-white);
    padding: 0 10px;
  }

  #stock span {
    justify-content: flex-end;
    margin: 0;
  }

  .car, .moto, .scoot, .tractor {
    display: none;
  }

  .vehicule {
    font-size: 16px;
  }

  #stock td:nth-child(even){
    background-color: var(--body-bcg-color);
  }

  #stock tr:nth-child(even){
    background-color: transparent;
  }

}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 800px;
  }

  .wrap {
    width: 800px;
  }
}

@media screen and (max-width: 960px) {
  #sidebar{
    width: 250px;
  }
}

@media screen and (max-width: 820px) {

  #stock {
    width: 400px;
  }

  .wrapper {
    width: 600px;
  }

  .container {
    width: 600px;
  }

  .wrap {
    width: 600px;
  }
}

@media screen and (max-width: 740px) {
  #sidebar{
    width: 200px;
  }

  .menu-element li{
    font-size: 20px;
  }

  .menu-element a {
    font-size: 14px;
  }
}

@media screen and (max-width: 630px) {

  #stock {
    width: 300px;
  }

  .wrapper {
    width: 400px;
  }

  .container {
    width: 400px;
  }

  .wrap {
    width: 400px;
    font-size: 12px;
  }

  .dataTable-input{
    width: 110px;
  }

  #sidebar.active{
    width: 100%;
    height: 200px;
    background-color: var(--container-bcg-color);
    padding: 0;
  }

  .menu-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .menu-element span:hover {
    color: var(--header-bcg-color);
  }

  .active .menu-close {
    position: absolute;
    right: 0;
    top: 0;
    fill: var(--delete-color);
  }

  .menu-element li{
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    margin: 0;
    background-color: var(--container-bcg-color);
    color: var(--header-bcg-color);
    width: 100%;
    border: 1px solid var(--body-bcg-color);
  }

  .menu-element a {
    font-size: 12px;
    color: var(--header-bcg-color);
  }

}

@media screen and (max-width: 420px) {

  .header {
    padding: 50px 20px;
  }

  .header h1 {
    font-size: 20px;
  }

  .wrap {
    width: 320px;
    font-size: 10px;
  }

  .wrapper {
    width: 300px;
  }

  .container {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {

  .header {
    padding: 50px 20px;
  }

  .wrapper {
    width: 280px;
  }
}
