:root{
  --header-bcg-color: hsl(227, 77%, 62%);
  --container-bcg-color: hsl(240, 14%, 92%);
  --body-bcg-color: hsl(229, 10%, 79%);
  --add-color: hsl(140, 71%, 32%);
  --delete-color: hsl(0, 76%, 37%);
  --edit-color: hsl(56, 66%, 36%);
  --text-color-white: hsl(0, 50%, 100%);
  --text-color-black: hsl(0, 50%, 0%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color-white);
}

input{
  height: 20px;
  border: none;
}

body{
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: var(--body-bcg-color);
}

/******header*******/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 50px;
  background-color: var(--header-bcg-color);
  color: var(--text-color-white);
}

.home{
  width: 30px;
  height: 30px;
}

.header a:hover{
  color: var(--body-bcg-color);
}

.fil0:hover{
  fill: var(--body-bcg-color);
}

/****container****/

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  margin: 100px 360px 0 350px;
  border-radius: 2%;
  background-color: var(--container-bcg-color);
}

/****form login****/

.form_login {
  display: flex;
  flex-direction: column;
}

.form_login input{
  margin-bottom: 20px;
}

.form_login input[type="submit"]{
  background-color: var(--header-bcg-color);
  color: var(--text-color-white);
  height: 25px;
}

.form_login input[type="submit"]:hover{
  transition: 0.5s;
  background-color: hsl(227, 96%, 67%);;
}

/****main page****/

.main{
  display: flex;
  justify-content: center;
  height: 400px;
  flex-direction: column;
}

.main h2{
  margin: 0 0 50px 25px;
}

.main a {
  color: var(--text-color-black);
}

.main button{
  margin-bottom: 20px;
}

.main input{
  background-color: var(--delete-color);
  color: var(--text-color-white);
  height: 25px;
}

.main input:hover{
  transition: 0.5s;
  background-color: hsl(0, 63%, 46%);
}

/****add****/

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  min-height: 500px;
  height: auto;
  background-color: var(--container-bcg-color);
  margin: 70px 0 0 270px;
  border-radius: 2%;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.form :nth-child(n){
  margin-bottom: 14px;
}

.form input[type="submit"][value="Ajoutez"]{
  background-color: var(--add-color);
  color: var(--text-color-white);
}

.form input[type="submit"][value="Ajoutez"]:hover{
  transition: 0.5s;
  background-color: hsl(140, 70%, 37%);
}


.form input[type="submit"][value="Modifiez"]{
  background-color: var(--edit-color);
  color: var(--text-color-white);
}

.form input[type="submit"][value="Modifiez"]:hover{
  transition: 0.5s;
  background-color: hsl(56, 64%, 42%);
}

.form input[type="submit"][value="Supprimez"]{
  background-color: var(--delete-color);
  color: var(--text-color-white);
}

.form input[type="submit"][value="Supprimez"]:hover{
  transition: 0.5s;
  background-color: hsl(0, 63%, 46%);
}

/****vehicule****/

.vehicule input{
  margin-right: 100px;
}

/****types****/

.types input{
  margin-right: 20px;
}

.types span{
  margin-right: 25px;
}

.types label{
  margin-right: 10px;
}

/****marque****/

.marque input{
  margin-right: 125px;
}

/****pièce****/

.piece{
  display: flex;
  flex-wrap: wrap;
}

.piece label {
  margin-right: 10px;
}

.piece select{
  margin-right: 175px;
}

/****sous types****/

.stype {
  display: flex;
  flex-wrap: wrap;
}

.stype input{
  margin-right: 10px;
}


.stype input[type="number"]{
  width: 60px;
}

.stype label{
  margin-right: 10px;
}

/****stock****/

#stock{
  text-align: center;
  border-collapse: collapse;
  margin: 10px;
}

#stock a{
  color: var(--text-color-black);
}

#stock th{
  border: 1px solid var(--text-color-black);
  padding: 5px;
}

#stock tr:nth-child(even){
  background-color: var(--body-bcg-color);
}

#stock th{
  background-color: var(--header-bcg-color);
  color: var(--text-color-white);
}

#stock td{
  border: 1px solid var(--text-color-black);
}

#stock span{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.car{
  width: 35px;
  height: 35px;
}

.edit{
  width: 25px;
  height: 25px;
  fill: var(--edit-color);
}

.delete{
  width: 25px;
  height: 25px;
  fill: var(--delete-color);
}

.table-foot{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.arrow-left{
  width: 30px;
  height: 30px;
  fill: var(--header-bcg-color);
}

.arrow-right{
  width: 30px;
  height: 30px;
  fill: var(--header-bcg-color);
}

.pagination{
  display: flex;
}

/****delete****/

.supp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.supp input{
  width: 80px;
  margin: 10px 0 10px 0;
  background-color: var(--delete-color);
  color: var(--text-color-white);
}

.supp button{
  margin-top: 10px;
}

.supp a{
  color: var(--text-color-black);
}

/****nav****/

#nav{
  display: flex;
  justify-content: space-around;
}

#nav li {
  list-style: none;
}

#nav a {
  color: var(--text-color-black);
}

#nav2{
  display: flex;
  justify-content: space-around;
}

#nav2 li {
  list-style: none;
}

#nav2 a {
  color: var(--text-color-black);
}